<template>
    <div>
        <!-- Header -->
        <Header/>
        <!-- Contenedor -->
        <div class="container">
            <!-- Mensaje de alerta success -->
            <div class="alert alert-success" role="alert" v-if="seEliminaUsuario == 1 || seCreaUsuario == 1 || seActualizaUsuario == 1">
                {{mensaje}}
            </div>
            <!-- Contiene el listado de usuarios -->
            <div class="card-body card-dashboard">
                <div class="row">
                    <div class="col-8"><h4 class="card-title text-left">Users list</h4></div>
                    <div class="col-4"><button title="Crear usuario" class="btn btn-primary float-right" v-on:click="abrirFormUsuario(0)">
                        <i class="fas fa-user-plus"></i></button></div>
                </div>
                <div class="table-responsive">
                    <!-- Tabla de usuarios -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Age</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Iteración de usuarios -->
                            <tr v-for="(usuario, index) in usuarios" :key="usuario.id">   
                                <th scope="row">{{ index + 1 }}</th>
                                <td>{{ usuario.name }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.age }}</td>
                                <td>{{ usuario.gender }}</td>
                                <td>
                                    <!-- botón abrir formulario usuario -->
                                    <button title="Abrir formulario de usuario" class="btn btn-light mr-1" v-on:click="abrirFormUsuario(usuario.id)">
                                        <i class="fas fa-pen" aria-hidden="true" ></i>
                                    </button>
                                    <!-- botón eliminar usuario -->
                                    <button title="Eliminar usuario" class="btn btn-danger" v-on:click="eliminarUsuario(usuario.id)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Formulario de usuarios -->
        <div class="modal" id="registrarUsuario" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span v-if="esEdicion > 0">
                            Update User - {{ name }}
                        </span>
                        <span v-else>
                            New User
                        </span>
                        <!-- Botón para cerrar el formulario del usuario -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="cerrarFormUsuario()"> 
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Formulario de registro o actualizacion de usuario -->
                    <form v-on:submit.prevent="save()">
                        <div class="modal-body">
                            <div class="form-group text-left">
                                <!-- Campo name de usuario -->
                                <label for="nombreUsuario" class="text-left">Name</label>
                                <input type="text" class="form-control" id="name_usuario" name="name_usuario" v-model="name" required>
                                <!-- Campo email de usuario --> 
                                <label for="emailUsuario" class="text-left">Email</label>
                                <input type="text" class="form-control" id="email_usuario" name="email_usuario" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@+[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" v-model="email" required>
                                <!-- Campo age de usuario --> 
                                <label for="edadUsuario" class="text-left">Age</label>
                                <input type="number" class="form-control" id="edad_usuario" name="edad_usuario" min="1" v-model="age" required>
                                <!-- select gender de usuario --> 
                                <label for="generoUsuario" class="text-left">Gender</label>
                                <select required class="form-control" name="detalles"  v-model="gender" id="genero">
                                    <option  v-for="genero in generos" v-bind:key="genero" :value="genero">
                                        {{genero}}
                                    </option>
                                </select>
                                <div v-if="esEdicion == 0">
                                    <!-- campo password de usuario --> 
                                    <label for="paswordUsuario" class="text-left">Password</label>
                                    <input type="password" class="form-control" id="password_usuario" name="password_usuario" v-model="password" required>
                                </div> 
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- botón cerrar formulario de usuario -->
                            <button type="button" class="btn btn-secondary" v-on:click="cerrarFormUsuario()">Close</button>
                            <!-- botón para registrar o editar un usuario -->
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">
                                <span v-if="esEdicion > 0">
                                    Update
                                </span>
                                <span v-else>
                                    Save
                                </span>
                            </button>
                            <!-- alerta para mostrar mensajes de la API -->
                            <div class="alert alert-warning" role="alert" v-if="seCreaUsuario == 2 || seActualizaUsuario == 2 ">
                                {{mensajeError}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Header from '@/components/Header.vue'
import axios from 'axios'
const $ = require('jquery')
window.$ = $

export default {
    name:"Dashboard",
    components:{
        Header
    },
    data() {
        return{
            usuarios: [], //variable para almacenar los usuarios
            generos : [ 
                'Masculino',
                'Femenino'
            ], // Se especifica el listado de generos
            id: null, // id del cliente
            name: null, // nombre del cliente
            email: null, // email del cliente
            age: null, // edad del cliente
            gender: null, // genero del cliente
            password: null, // password del cliente
            esEdicion: 0, // variable para indicar si se hace una edicion o creacion de usuario
            seEliminaUsuario: 0, // variable para indicar si se ha eliminado un usuario
            seActualizaUsuario: 0, // variable para indicar el estado de la actualizacion de un usuario
            seCreaUsuario: 0, // variable para indicar el estado de la crecion de un usuarii
            mensaje: null, // variable para mostrar los mensajes en los crud
            mensajeError: null, //variable para mostrar los mensajes de error en los crud
            // Se especifica las cabeceras a enviar a la API
            config : {
                headers: {
                    Authorization: localStorage.getItem('token'),
                }
            }
        }
    },
    methods:{
        /**
        Permite abrir el modal de formulario de edición o creación del cliente         
         */
        abrirFormUsuario(id) {
            // Se llama la funciçon para inicializar los variables de las opciones realizadas
            this.inicializarAcciones();
            // Se abre la modal
            $('#registrarUsuario').show();
            // Si el id es mayor a 0 es porque vamos a editar el usuario
            if(id > 0){
                // Se consulta el usuario por Id
                this.consultarUsuario(id);
                // Se indica que la acción es editar
                this.esEdicion = 1;
            }
            else{
                // Se indica que la acción es crear
                this.esEdicion = 0
            }  
        },
        /**
        Permite cerrar el formulario de creación o edición de usuario
         */
        cerrarFormUsuario(){
            // Se oculta la modal
            $('#registrarUsuario').hide();
            // se llama la función para colocar en null los atributos del usuarios
            this.limpiarFormUsuario();
        },
        /**
         * Permite colocar el null los atributos del usuario
         */
        limpiarFormUsuario(){
            this.id = null;
            this.name = null;
            this.email = null;
            this.age = null;
            this.gender = null;
            this.password = null;
        },
        /**
         * Permite inicializar las variables de las acciones
         */
        inicializarAcciones(){
            this.seEliminaUsuario= 0,
            this.seActualizaUsuario= 0, 
            this.seCreaUsuario= 0, 
            this.mensaje= null
        },
        /**
        * Permite consultar un usuario por id
         */
        consultarUsuario(id){
            // Se inicializan las variables de las acciones
            this.inicializarAcciones();
            // variable que almacena la url del API para consultar usuarios
            let url = 'http://127.0.0.1:8000/api/usuarios/detail/'+id;
            // Se realiza la petición get, la cual recibe la Url y los header
            axios.get(url, this.config)
                .then(data => {
                    // Si esta todo ok
                    if(data.data.estado == 200){
                        // Se obtiene la respuesta y se almacena en las variable 
                        let { id, name, email, age, gender, password} = data.data.usuario;
                        // Se envian los valores a cada uno de los atributos del usuario
                        this.id = id;
                        this.name = name;
                        this.email = email;
                        this.age = age;
                        this.gender = gender;
                        this.password = password;
                    }
                    // En caso de que se termina la sesion y el token expire
                    if(data.data.estado == 401){
                        // Se remueve el token
                        this.removerToken();
                        // Se redirecciona a la vista home    
                        this.$router.push('/');
                    }
                })
        },
        /**
        * Permite eliminar un usuario por id
         */
        eliminarUsuario(id){
            // variable que almacena la url del API para eliminar usuarios
            let url = 'http://127.0.0.1:8000/api/usuarios/delete/'+id;
            // Se realiza la peticion para elimina un usuario, la cual recibe la url y los headers
            axios.delete(url, this.config)
                .then(data => {
                    // En caso de eliminar exitosamente
                    if(data.data.estado == 200){
                        // Se cambia a true indicando que se elimino el usuario
                        this.seEliminaUsuario = 1;
                        // Se obtiene el mensaje de respuesta de la API
                        this.mensaje = data.data.mensaje;
                        // Se consulta el lista de usuarios
                        this.consultarUsuarios();
                    }
                    // En caso de presentarse un error en la creación del usuario
                    if(data.data.estado == 404){
                        // Se cambia la variable a 2
                        this.seEliminaUsuario = 2;
                        // Se obtiene el mensaje de la API
                        this.mensajeError = data.data.mensaje;
                        // Se obtiene el mensaje de la API
                        this.mensaje = data.data.mensaje;
                    }
                    // En caso de que se termina la sesion y el token expire
                    if(data.data.estado == 401){
                        // Se remueve el token
                        this.removerToken();
                        // Se obtiene el mensaje de respuesta de la API
                        this.mensajeError = data.data.mensaje;
                        // Se redirecciona a la vista home    
                        this.$router.push('/');
                    }
                })
        },
        /**
         * Permite identificar si la accción a realizar desde el formulario es edición o creación
         */
        save(){
            if(this.id > 0){
                this.actualizarUsuario();
            }else{
                this.crearUsuario();
            }
        },
        /**
         * Permite crear un usuario
         */
        crearUsuario(){
            // variable que almacena la url del API para crear usuarios
            let url = 'http://127.0.0.1:8000/api/usuarios/create';
            // Se crea el objeto usuario a registrar
            let usuarioRegistrar = {
                "name" : this.name,
                "email" : this.email,
                "age" : this.age,
                "gender" : this.gender,
                "password" : this.password
            }
            // Se realiza la petición para el registro del usuario, recibe la url, el usuario y los headers
            axios.post(url, usuarioRegistrar, this.config)
                .then(data => {
                    // Si la eliminación es exitosa
                    if(data.data.estado == 200){
                        // Se cambia la variable a 1
                        this.seCreaUsuario = 1;
                        // Se obtiene el mensaje de la API
                        this.mensaje = data.data.mensaje;
                        // Se consultan los usuarios
                        this.consultarUsuarios();
                        // Se cierre el formulario de registro de usuario
                        this.cerrarFormUsuario();
                    }
                    // En caso de presentarse un error en la creación del usuario
                    if(data.data.estado == 400 || data.data.estado == 404){
                        // Se cambia la variable a 2
                        this.seCreaUsuario = 2;
                        // Se obtiene el mensaje de la API
                        this.mensajeError = data.data.mensaje;
                        // Se obtiene el mensaje de la API
                        this.mensaje = data.data.mensaje;
                    }
                    // En caso de que se termina la sesion y el token expire
                    if(data.data.estado == 401){
                        // Se remueve el token
                        this.removerToken();
                        // Se redirecciona a la vista home    
                        this.$router.push('/');
                    }
                })
        },

        /**
         * Permite actualizar un usuario
         */
        actualizarUsuario(){
            // Se crea el objeto usuario a registrar
            let usuarioActualizar = {
                "id": this.id, 
                "name" : this.name,
                "email" : this.email,
                "age" : this.age,
                "gender" : this.gender
            }
            // variable que almacena la url del API para editar usuarios
            let url = 'http://127.0.0.1:8000/api/usuarios/update/'+this.id;
            // Se realiza la peticion, la cual recibe la url, el usuario y los headers
            axios.put(url, usuarioActualizar , this.config)
                .then(data => {
                    // Si la actualizacion es exitosa
                    if(data.data.estado == 200){
                        // Se cambia la variable a 1
                        this.seActualizaUsuario = 1;
                        // Se obtiene el mensaje de la API
                        this.mensaje = data.data.mensaje;
                        // Se consultan los usuarios
                        this.consultarUsuarios();
                        // Se cierra el formulario de actualización de usuario
                        this.cerrarFormUsuario();
                    }
                    // Si se presenta algun error en la actualización del usuario
                    if(data.data.estado == 404 || data.data.estado == 400){
                        // Se cambia la variable a 2
                        this.seActualizaUsuario = 2;
                        // Se obtiene el mensaje de la API
                        this.mensajeError = data.data.mensaje;
                    }
                    // En caso de que se termina la sesion y el token expire
                    if(data.data.estado == 401){
                        // Se remueve el token
                        this.removerToken();
                        // Se redirecciona a la vista home    
                        this.$router.push('/');
                    }
                })
        },
        /**
         * Permite consultar los usuarios
         */
        consultarUsuarios(){
            // variable que almacena la url del API consultar los usuarios
            let url = 'http://127.0.0.1:8000/api/usuarios';
            // Se realiza la petición, se envía la url y los headers
            axios.get(url,this.config)
            .then(data => {
                // Si todo esta bien
                if(data.data.estado == 200){
                    this.usuarios = data.data.usuarios;
                }
                // En caso de que se termina la sesion y el token expire
                if(data.data.estado == 401){
                    // Se remueve el token
                    this.removerToken();
                    // Se redirecciona a la vista home    
                    this.$router.push('/');
                }
            })
        },
        /**
         * Permite remover el token y el usuario en sesion
         */
        removerToken(){
            // Se remueve el token del localStorage
            localStorage.removeItem('token');
            // Se remueve el token del localStorage
            localStorage.removeItem('usuarioLogeado');
            
        },
    },
    mounted() {
        // variable que almacena la url del API para consultar usuarios
        let url = 'http://127.0.0.1:8000/api/usuarios';
        // Variable que especifica las cabeceres
        let config = {
            headers: {
                Authorization: localStorage.getItem('token'),
            }
        }
        // Se hace la peticion a la API, enviado la url y las cabeceras
        axios.get(url,config)
            .then(data => {
                // Si todo esta ok
                if(data.data.estado == 200){
                    // Se obtienen los usuarios
                    this.usuarios = data.data.usuarios;
                }            
                // En caso de que se termina la sesion y el token expire
                if(data.data.estado == 401){
                    // Se remueve el token
                    this.removerToken();
                    // Se redirecciona a la vista home    
                    this.$router.push('/');
                }
            })
    }
}
</script>

<style scoped>

</style>