<template>
  <div>
    <!-- Contenedor -->
    <div class="container">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <!-- Formulario de inicio de sesión -->
            <form class="form-signin" v-on:submit.prevent="login">
                
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <!-- Campo email --> 
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@+[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" v-model="email" required autofocus>
                <!-- Campo password --> 
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" v-model="password" required>
                <br>
                <!-- Botón para iniciar sesión -->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <!-- Alerta de error de inicio de sesión -->
            <br>
            <div class="alert alert-danger" role="alert" v-if="error">
              {{mensaje}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Home',
  components: {
  },
  data: () => {
      return{
          email: "", // variable email para iniciar sesion
          password: "", // variable password para iniciar sesión
          error: false, // variable en caso de que se presenta un error en inición de sesion
          mensaje: "" // variable para capturar el mensaje del servidor en caso de un error
        }
  },
  methods: {
      /**
       * Permite iniciar sesión
       */
      login() {
          // Objeto para capturar las credenciales ingresadas
          let credenciales = {
              "email" : this.email,
              "password": this.password
          };
          // Se hace la petición de inicio de sesión al servidor, se envían las credenciales
          axios.post('http://127.0.0.1:8000/api/auth/login', credenciales)
            .then(data => {
                if(data.data.estado == 200){
                    // Se guarda el token en el localStorage
                    localStorage.token = data.data.token;
                    // Se guarda el usuario logeado en el localStorage
                    localStorage.usuarioLogeado = data.data.usuario;
                    // Se redicciona a la vista dashboard
                    this.$router.push('dashboard');
                }{
                    this.error = true;
                    this.mensaje = data.data.mensaje
                }
            })
      }
  }
}
</script>

<style scoped>

</style>
