<template>
    <div>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"></a>
            <form class="form-inline">
                <button type="button" class="btn btn-outline-dark" v-on:click="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </nav>
    </div>
</template>
<script>
import axios from 'axios'

export default {

    name:"Header",
    data(){
        return{
            // Se especifica las cabeceras a enviar a la API
            config : {
                headers: {
                    Authorization: localStorage.getItem('token')
                }
            }
        }  
    },
    methods:{
        /**
         * Permite cerrar sesión
         */
        logout(){
            // variable que almacena la url del API consultar los usuarios
            let url = 'http://127.0.0.1:8000/api/auth/logout';
            // Se realiza la petición, se envío la url y los headers
            axios.post(url, null, this.config)
            .then(data => {
                // Si la actualizacion es exitosa
                if(data.data.estado == 200){
                    // Se remueve el token del localStorage
                    localStorage.removeItem('token');
                    // Se remueve el token del localStorage
                    localStorage.removeItem('usuarioLogeado');
                    // Se redirecciona a la vista home    
                    this.$router.push('/');
                }
            })
        }
    }
}
</script>